@import "tailwindcss";

:root {
  --background: #ffffff;
  --card: #d3d3d3;
  --foreground: #c5a9a9;
}

@theme inline {
  --color-background: var(--background);
  --color-title: var(--title);
  --color-description: var(--description);
  --color-card: var(--card);
  --color-accent: var(--accent);

  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b090a;
    --card: #161A1D;
    --description: #F5F3F4;
    --title: #FFFFFF;
    --accent: #BA181B;

  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-roboto);
}

.form-input {
  @apply w-full rounded-2xl border-2 border-red-500/40 px-4 py-3 text-white placeholder-white/40 transition focus:outline-none focus:border-red-500/70;
}

.button {
  @apply border-2 border-accent/50 text-title px-8 py-3 rounded-xl transition duration-300 hover:bg-accent/50;
}

.card {
  @apply border border-accent/50 bg-card/20 rounded-2xl backdrop-blur-xl;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--accent) !important;
}

.swiper .swiper-pagination-bullet {
  position: relative;
  top: 5px;
  height: 6px;
  background: gray;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.swiper .swiper-pagination-bullet-active {
  background: var(--accent);
  width: 14px;
  border-radius: 20px;
  opacity: 1;
}

@media (min-width: 1024px) {
  .swiper .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
  }

  .swiper .swiper-pagination-bullet-active {
    width: 14px;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}