@import "tailwindcss";

:root {
  --background: #ffffff;
  --card: #d3d3d3;
  --foreground: #c5a9a9;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-card: var(--card);

  --font-sans: var(--font-roboto);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b090a;
    --text: #ededed;

  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sans);
}

.form-input {
  @apply w-full rounded-2xl border-2 border-red-500/40 px-4 py-3 text-white placeholder-white/40 transition focus:outline-none focus:border-red-500/70;
}

.swiper-button-next,
.swiper-button-prev {
  color: red !important;
}

.swiper .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: gray;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.swiper .swiper-pagination-bullet-active {
  background: red;
  width: 14px;
  border-radius: 20px;
  opacity: 1;
}

@media (min-width: 1024px) {
  .swiper .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
  }

  .swiper .swiper-pagination-bullet-active {
    width: 14px;
  }
}